@using GamingWeb.Custom.Helpers
@using GamingWeb.Custom.Models
@model GamingWeb.Custom.Models.Office.Office;
@{
    var language = new LanguageHelper(Context);
    //int departmentsAccess = new AuthorizeHelper(Context).GetPrivilegeLevel((int)Views.Departments);
}

<script>
    function sync_handler(e) {
        e.sender.read();
    }

    function openAdd(e) {
        var w = $("#addOffice").data("kendoWindow");
        w.refresh({
            url: '@Url.Action("AddWindow", "Offices")'
        });
        w.open();
    }

    function onClose() {

        window.location.reload();

    }

    function openEdit(e) {
        var w = $("#editOffice").data("kendoWindow");
        w.refresh({
            url: '@Url.Action("EditWindow", "Offices")' + '?officeId=' + this.dataItem(jQuery(e.currentTarget).closest("tr")).Id
        });
        w.open();
    }
</script>
<style>
    div.k-edit-form-container {
        width: 100% !important;
    }

    div.k-widget.k-window.k-display-inline-flex {
        left: 0px !important;
    }
</style>
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">@language.Get("Office")</h2>

    </div>

</div>
